* {
    margin: 0;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 25px 30px;
}
.header a:hover {
    border-bottom: solid 1px white;
    color: rgb(229, 237, 89);
}
.nav-bar {
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-bar a {
    text-decoration: none;
    padding: 10px;
}

.nav-login {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-login a {
    text-decoration: none;
    padding: 10px;
}

#account {
    background-color: rgb(234, 240, 123);
    color: black;
    border-radius: 20px;
}
#account:hover {
    background-color: rgb(191, 199, 36);
}

section {
    padding: 120px 60px 120px 60px;
    background-color: black;
    color: white;
}
.first-section {
    display: flex;
    justify-content: space-evenly;
}

.content-1 {
    font-size: 60px;
    width: auto;
}

.highlight {
    background-color: rgb(232, 243, 32);
    color: #000;
}

.content-2 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

.footer {
    background-color: #ffffff;
    color: #6e6e6e;

    padding: 50px;
}
